body {
  font: 13px "Helvetica" !important;
  background: #fcfcfc;
/*  background-image: url('../images/stripe-bg.png');*/
  
}
.navbar{
  margin-bottom: 0px;
  border-radius: 0px;
  box-shadow: 2px 0px 3px #999;
}

/* ---------- Layout ---------- */
#main-container {
}


#charts-container{
}

.info{
  height: 200px;
}
.chart{
  position: relative;
  width:100%;
  height:150px;
  border-bottom: 2px solid #666;

  webkit-transition:all 0.2s ease-in-out;
  -moz-transition:all 0.2s ease-in-out;
  -o-transition:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out;
}
.chart.EXPANDED{
  height: 500px;
  webkit-transition:all 0.2s ease-in-out;
  -moz-transition:all 0.2s ease-in-out;
  -o-transition:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out;
}
.category-label{
  float:left;
  width:150px;
  height: 100%;
  background-color: #252525;
  text-align: center;
  padding-top: 8px;
  border-right: 2px solid #666;
  font-size: 1.2em;
  color: #999;
}
.category-label.expandable,
.category-label.swappable{
  cursor: pointer;
}

.category-label.expandable:hover,
.category-label.clickable:hover{
    background-color: #333;
}

.graph{
    height:100%;
    overflow:hidden;
}
.graph .overview{
  height:150px;
}
.graph .detailed{
  display:none;
  height:150px;
}

.detail-chart{
  width:800px;
  height: 100px;
}

#diag1, #diag2{
  position: relative;
  padding-top: 10px;
}

#diag1{
  margin-bottom: 15px;
}

#diag2{
 border-top: 1px solid #666;

}

#diag1 .sub-category-label, 
#diag2 .sub-category-label{
  left: -23px;
  top: -1px;

}

/**** background category-label ***/
.chart > .category-label{
  background-image: url('../images/sleep.png');
  background-position: 50% 50%;
  background-size: 66%;
  background-repeat: no-repeat;
}

.sleep > .category-label {
    background-image: url('../images/sleep.png');
}

.medication > .category-label {
    background-image: url('../images/med.png');
}

.diagnoses > .category-label {
   background-image: url('../images/diagnoses.png');
}

.family > .category-label {
    background-image: url('../images/family.png');
}
/*.info > .category-label {
      background-image: url('/images/background.png');
}*/

.timeline{
  margin-left:150px;
}

.sub-category-item {
  height: 100px;
  border-bottom: 1px solid #999;
  overflow: hidden;
}
.sub-category-item:last-child{
  border-bottom: 0px;
}
.sub-category-graph{
  position: relative;
}
.sub-category-label{
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.7);
  padding: 3px 8px;
  color: #fff;
  border-bottom-right-radius: 3px;
  font-size: 1.1em;
  z-index: 10;
}


/* hacking things to line up */
.medication .overview, .family .overview {
  margin-left: 12px
}

#diag-overview {
  margin-left: 23px
}
.info .timeline{

}

/* annotation */


#annotations ul{
  position: absolute;
  top: 0;
  left: 0;
}

#annotations li{
  position: absolute;
  top: 65px;
  list-style: none;
  z-index: 5;
}

.annotation-create-overlay{
  display:none;
}

.annotation-create-overlay .drag-line .anno-create-container,
#annotations li p{
  position: relative;
  left: 15px;
  border-radius: 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 3px 15px 3px 5px;
  font-size: 0.9em;
  width: 150px;
  text-align:center;
  background: rgba(233, 233, 233, 0.9);
  border: 2px solid #666;
}
#annotations li p>a{
  color: #666;
  position: absolute;
  top: 3px;
  right: 4px;
  cursor: pointer;
}
.annotation-create-overlay .drag-line .anno-create-container:after,
.annotation-create-overlay .drag-line .anno-create-container:before,
#annotations li p:after,
#annotations li p:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.annotation-create-overlay .drag-line .anno-create-container:after,
#annotations li p:after {
  border-color: rgba(213, 213, 213, 0);
  border-right-color: rgba(243, 243, 243, 0.9);
  border-width: 11px;
  margin-top: -11px;
}
.annotation-create-overlay .drag-line .anno-create-container:before,
#annotations li p:before {
  border-color: rgba(213, 213, 213, 0);
  border-right-color: #666;
  border-width: 13px;
  margin-top: -13px;
}

.annotation-create-overlay{
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
}

.annotation-create-overlay .drag-line{
  width: 0;
  border-right: 2px dotted #000;
  height: 100%;
  position: absolute;
  z-index: 15;
}

.annotation-create-overlay .drag-line .anno-create-container {
  top: 30%;
  height: 150px;
  width: 200px;
}
.annotation-create-overlay .drag-line .anno-create-container textarea{
  background: transparent;
  width: 100%;
  height: 110px;
  border: 0px;
  resize: none;
  margin-bottom: 5px;
}

.annotation-create-overlay .drag-line .anno-create-container>a{
  cursor:pointer;
  color: #666;
  float:left;
}

.annotation-create-overlay .drag-line .anno-create-container>a:last-child{
  float:right
}


#annotations>ul,
#annotations>ul.ng-hide,
#annotations .annotation-create-overlay,
#annotations .annotation-create-overlay.ng-hide{
  -webkit-transition:all linear 0.1s;
  -moz-transition:all linear 0.1s;
  -o-transition:all linear 0.1s;
  transition:all linear 0.1s;
  display:block!important;
}

#annotations>ul.ng-hide{
  opacity:0;
  position: absolute;
  left: -1500px;
  display:none;
  z-index: -999;
}

#annotations .annotation-create-overlay.ng-hide{
  opacity:0;
  z-index: -999;
}

.annotations-control{
  padding: 8px;
  display: inline-block;
}

.detail-info{
    font-size: 2em;
    margin-left: 40px;
    color: #5b5e55;
}
